Source: ros-indigo-summit-xl-localization
Section: misc
Priority: extra
Maintainer: Elena Gambaro <egambaro@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-geographic-msgs, ros-indigo-geometry-msgs, ros-indigo-mavros-msgs, ros-indigo-message-filters, ros-indigo-nav-msgs, ros-indigo-robot-localization, ros-indigo-robotnik-msgs, ros-indigo-rosbag, ros-indigo-roscpp, ros-indigo-rostest, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-std-srvs, ros-indigo-tf, ros-indigo-tf2, ros-indigo-tf2-geometry-msgs, ros-indigo-tf2-ros
Homepage: http://ros.org/wiki/summit_xl_localization
Standards-Version: 3.9.2

Package: ros-indigo-summit-xl-localization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geographic-msgs, ros-indigo-geometry-msgs, ros-indigo-mavros-msgs, ros-indigo-message-filters, ros-indigo-message-runtime, ros-indigo-nav-msgs, ros-indigo-robot-localization, ros-indigo-robotnik-msgs, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-std-srvs, ros-indigo-tf, ros-indigo-tf2, ros-indigo-tf2-geometry-msgs, ros-indigo-tf2-ros
Description: The summit_xl_localization package
