Source: ros-indigo-summit-xl-description
Section: misc
Priority: extra
Maintainer: Carlos Villar <cvillar@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-robotnik-sensors, ros-indigo-roslaunch, ros-indigo-urdf, ros-indigo-xacro
Homepage: http://ros.org/wiki/summit_xl_description
Standards-Version: 3.9.2

Package: ros-indigo-summit-xl-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-robot-state-publisher, ros-indigo-robotnik-sensors, ros-indigo-urdf, ros-indigo-xacro
Description: URDF description of the Summit XL and Summit XL HL and omni versions
